[Desktop Entry]
Version=0.1
Name=Visual/Jib
GenericName=Computer Emulator
X-GNOME-FullName=Visual/Jib
Comment=Visual/Jib Emulator
Keywords=Development;Emulator;
Exec=visual-jib
Icon=visual-jib
Terminal=false
Type=Application
Categories=Development
StartupNotify=true
